*{
    text-decoration:none;
    padding:0px;
    margin:0px;
    box-sizing: border-box;
    
}

html {
  scroll-behavior: smooth;
}

body {
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-weight: normal;
    background-color: none;
    
  }
  
/*************************NAVBAR***********************************/
  #mainNavFrame{
    width:100%;
    height:8%;
    background-color: rgba(255, 255, 255, 0.93);;
    position:fixed;
    display:flex;
    flex-direction:column;
    margin-top:0;
    z-index:11;
    padding-top: 1%;
    }
.header{
    position:relative;
    width:100%;
    height:95%;
    display:flex;
    justify-content:space-between;
    flex-direction: row;
    align-items:center;
    padding: 0 25px;
    transition: 0.5s;
}
.logo{
    font-family:'Mulish', sans-serif;
    color:#4E5B65;
    font-size:18px;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding:1%;
    margin-top: 0%;
    width: 10%;
}
.logoImage{
    width:83px;
}
.mottoContainer{
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    width: 100%;
    margin-top: -1%;
    margin-left: -.5%;
}
#tahtakuslar{
    font-family:'Mulish', sans-serif;
    color:#4E5B65;
    font-size:20px;
    margin-top:5px;
    font-weight: 600;
}
#galery{
    font-family: 'Mulish', sans-serif;
    font-size: 10px;
    font-weight: 400;
    padding-left: 0px;
    margin-top: -6px;
    margin-left:2px;
    color:#0D4559;
}

.navigation {
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.menu{
    display:flex;
    justify-content:center;
    flex-direction:row;
    align-items:center;
    transition: 0.8s ease-in-out;
}



#linksContainer{
    display:flex;
    flex-direction: row;
    
}

.menu li{
    list-style-type:none;
    padding: 14px 25px 12px 10px;

}


.menu li a{
    color:#4E5B65;
    text-decoration:none;
    font-family:'Mulish', sans-serif;
    display:block;
    letter-spacing:0.1px;
    background-color:transparent;
    font-size:19px;
    font-weight:400;
    line-height:30px;
    transition:0.3s;
    white-space:nowrap;
}

.menu li a:hover{
    color:#4e7e90;
}


.menu li a.inactiveLink {
    color: #DA6425; /* Set the inactive color */
    pointer-events: none; /* Make the link non-clickable */
}


#langlink{
    font-size: 12px;
}

.menu li a:hover{
    color:none;
}

#buttonContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right:15px;    
}

#buttonButik{
    width: fit-content;
    background-color: #DA6425;
    color: white;
    padding:8px 15px 8px 15px;
    margin-top: 0px;
    border-radius: 30px;
    z-index: 1;
}

.hamburger{
    position:relative;
    width:25px;
    height:3px;
    background:#DA6425;
    border-radius:15px;
    cursor:pointer;
    transition:0.3s;
    z-index:2;
}

.hamburger:before,
.hamburger:after{
    content:"";
    position:absolute;
    height:3px;
    right:0;
    background:#DA6425;
    transition:0.3s;
}

.hamburger:before {
    top: -10px;
    width:24px;
 }

.hamburger:after {
    top: 10px;
    width:25px;
}

.toggle-menu {
    position:absolute;
    width:30px;
    height:25px;
    cursor:pointer;
    opacity:0;
    z-index:3;
}

.hamburger,
.toggle-menu {
    display:none;
}

.navigation input:checked ~ .hamburger
{
    background: transparent;
}

.navigation input:checked ~ .hamburger:before
{
    top:0;
    transform: rotate(-45deg);
    width:24px;
}

.navigation input:checked ~ .hamburger:after
{
    top:0;
    transform: rotate(45deg);
    width:24px;
}


.navigation input:checked ~ .menu{
    right: 0;
}


h1{
    font-family: 'Mulish', 'sans-serif';
    font-size: 50px;
    color: #ffffff;
    letter-spacing: 38.6px;
    font-weight: 100;
}
#coverPhotoContainer {
    
    position: relative;
    width: 100%;
    height: 80vh; /* Set the height to 70% of the viewport height */
    max-height: 228vh; /* Ensure the maximum height is 70% of the viewport height */
    overflow: hidden;
    padding-top: 3.3%;
    z-index:1;
}

#coverPhotoContainer img.cover {
    width: 100%;
    height: 100%;
    margin-bottom: 0;
    object-fit: cover;
    position: relative;
    z-index:2;
}

#coverTitle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
    color: rgb(255, 255, 255);
    padding: 10px;
    font-size: 24px;
    white-space:nowrap;
    z-index:2;
}

.blackFon{
    padding:3% 1% 20% -1%;
    background-color: rgb(0, 0, 0, 0.4);
    border-radius: 5px;

}


h2{
    font-family: 'Mulish', 'sans-serif';
    font-size: 33px;
    font-weight: 300;
    color: #4E5B65;
    letter-spacing: -1px;
}

h3{
    font-family: 'Mulish', 'sans-serif';
    font-size: 33px;
    font-weight: 500;
    color: #0D4559;
    letter-spacing: 0px;
}


#contactMainContainer{
    width:100%;
    padding-top:6%;
    padding-left:1.8%;
    font-family: 'Mulish', 'sans-serif';
    font-weight: 800;
    color: #0D4559;
}

#paragraph{
    margin-top:1.5%;
    font-family: 'Mulish', 'sans-serif';
    font-size: 14px;
    font-weight: 500;
    color: #0D4559;
    letter-spacing: 0px;
    line-height:2.5;
}

#mapContainer{
    width:96.6%;
    display:flex;
    justify-content:center;
    margin:auto;
    margin-top:1.5%;
}

.textContainer{
    display:flex;
    flex-direction:column;
    width:75%;
    margin:auto;
    z-index:33;
    margin-top:2%;
    line-height:35px;
}
/****************************/
@media (max-width:4000px) and (min-width:3000px){
   #coverPhotoContainer {
    height: 70vh; /* Set the height to 70% of the viewport height */
    max-height: 228vh; /* Ensure the maximum height is 70% of the viewport height */
    overflow: hidden;
    padding-top: 2.3%;
    z-index:1;
}

}

@media (max-width:3000px) and (min-width:2000px){
    #coverPhotoContainer {
    height: 80vh; /* Set the height to 70% of the viewport height */
    max-height: 228vh; /* Ensure the maximum height is 70% of the viewport height */
    overflow: hidden;
    padding-top: 3%;
    z-index:1;
}
}
@media (max-width:2000px) and (min-width:1800px){
   #coverPhotoContainer {
    height: 80vh; /* Set the height to 70% of the viewport height */
    max-height: 228vh; /* Ensure the maximum height is 70% of the viewport height */
    overflow: hidden;
    padding-top: 4%;
    z-index:1;
}
}
@media (max-width:1800px) and (min-width:1500px){
   #coverPhotoContainer {
    height: 80vh; /* Set the height to 70% of the viewport height */
    max-height: 228vh; /* Ensure the maximum height is 70% of the viewport height */
    overflow: hidden;
    padding-top: 1.2%;
    z-index:1;
}

}

@media (max-width:1500px) and (min-width:1300px){
   #coverPhotoContainer {
    height: 70vh; /* Set the height to 70% of the viewport height */
    max-height: 228vh; /* Ensure the maximum height is 70% of the viewport height */
    overflow: hidden;
    padding-top: 1.3%;
    z-index:1;
}



}
@media (max-width:1300px) and (min-width:1000px){
   #coverPhotoContainer {
    height: 60vh; /* Set the height to 70% of the viewport height */
    max-height: 228vh; /* Ensure the maximum height is 70% of the viewport height */
    overflow: hidden;
    padding-top: 6.3%;
    z-index:1;
}
}
@media (max-width:1000px) and (min-width:800px){
   #coverPhotoContainer {
    height: 60vh; /* Set the height to 70% of the viewport height */
    max-height: 228vh; /* Ensure the maximum height is 70% of the viewport height */
    overflow: hidden;
    padding-top: 9.3%;
    z-index:1;
}
}
@media (max-width:800px) and (min-width:700px){
   #coverPhotoContainer {
    height: 50vh; /* Set the height to 70% of the viewport height */
    max-height: 228vh; /* Ensure the maximum height is 70% of the viewport height */
    overflow: hidden;
    padding-top: 15.3%;
    z-index:1;
}
}
@media (max-width:700px) and (min-width:600px){
    #coverPhotoContainer {
    height: 50vh; /* Set the height to 70% of the viewport height */
    max-height: 228vh; /* Ensure the maximum height is 70% of the viewport height */
    overflow: hidden;
    padding-top: 15.3%;
    z-index:1;
}
}
@media (max-width:600px) and (min-width:500px){
   #coverPhotoContainer {
    height: 40vh; /* Set the height to 70% of the viewport height */
    max-height: 228vh; /* Ensure the maximum height is 70% of the viewport height */
    overflow: hidden;
    padding-top: 15.3%;
    z-index:1;
}
}


@media (max-width:500px) and (min-width:400px){
    #coverPhotoContainer {
    height: 30vh; /* Set the height to 70% of the viewport height */
    max-height: 228vh; /* Ensure the maximum height is 70% of the viewport height */
    overflow: hidden;
    padding-top: 26.3%;
    z-index:1;
}
}
@media (max-width:400px) and (min-width:300px){
   #coverPhotoContainer {
    height: 60vh; /* Set the height to 70% of the viewport height */
    max-height: 228vh; /* Ensure the maximum height is 70% of the viewport height */
    overflow: hidden;
    padding-top: 16.3%;
    z-index:1;
}
}
/****************************************************/
/****************************************************/
  /********************MOBILEMENU******************/
  @media (max-width:1200px) and (min-width:300px) {
    .menu li a{
        width: 100%;
        color:#4E5B65;
        display:block;
        padding:  1%;
        letter-spacing:1.5px;
        font-size:22px;
        font-weight:400;
        line-height:30px;
        transition:0.3s;
        padding:2%;
        text-align: center;    
    }
       
       .hamburger,
        .toggle-menu {
        display:block;
    }
    
        .menu{
            justify-content:center;
            align-content: center;
            align-items: center;
            flex-direction:column;
            position:fixed;
            top:-100%;
            right:0;
            background:white;
            opacity:85%;
            width:100%;
            height:70%;
            padding-top:0%;
            transition: top 1.1s; /* Add a transition for smooth sliding */

        }

        .navigation input:checked ~ .menu {
            top: 0%; /* Slide down from the top (visible) when input is checked */
        }

        #linksContainer{
            width:100%;
            text-align: center;
            flex-direction: column;
            background-color: transparent;
        }
        #linksContainer a{
            padding-top: 0;
            padding-bottom: 0;
        }
        
        #buttonContainer{
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
      
        .menu button {
            width:10%;
            border-radius: 50px;
            background-color: orangered;
            border: 0px;
            border-color: none;
            font-size: 18px;
            color:white;
            padding:10px;
        }

        #langlink{
            font-size: 15px;
        }
    }



        /******************FOOTER**************************/

        #footer{
            position: relative;
            width: 100%;
            height: 30%;
            margin: auto;
            margin-top: 1%;
            background-color: #0D4559;
            font-family: 'Mulish', sans-serif;
            font-size: 16px;
            font-weight: normal;
            padding:5% 0 2% 0;
            overflow: hidden;
            display: flex;
            flex-direction: column;
        }

        #footerSectionContainer{
            width:100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
        }

        .sections{
            justify-content: center;
            width: 20%;
            margin-left: 1%;
            margin-right: 1%;
            
        }



        .titles{
            color:white;
            font-weight: 500;
        }

        .contentLinks{
            
            margin-top:5%;
            display: flex;
            flex-direction: column;
            font-size: 13px;
        }
        .contentLinks a{
            color:rgb(176, 175, 180);
            text-decoration: none;
            padding: 0;
            margin-top: 5%;
            }


            #footerSocial {
                margin: auto;
                width: 100%;
                height: auto;
                display: flex;
                flex-direction: row;
                justify-content: center;
                padding: 6% 0 3% 0;
              }
              
              #footerSocial a {
                width: 3%; /* Remove percentage-based width */
                height: 32%; /* Set height to 100% to maintain proportions */
                max-width: 32%; /* Ensure the image doesn't exceed its container's width */
                display: flex;
                flex-direction: row;
                justify-content: center;
                margin-left: 1%;
                margin-left: 1%;
              }

              #footerSocial img {
                width: 62%; /* Remove percentage-based width */
                height: 62%; /* Set height to 100% to maintain proportions */
                max-width: 62%; /* Ensure the image doesn't exceed its container's width */
                
            }


        #footerSignature{
            margin: auto;
            width: 100%;
            height: 20px;
            padding-top: 1%;
            display: flex;
            flex-direction: row;
            font-family: 'Mulish', sans-serif;
            font-size: 11px;
            font-weight: normal;
            color: rgb(176, 175, 180);
            justify-content: center;
            position: relative;
            
        }

        #footerSignature a{
            text-decoration: none;
            color: rgb(176, 175, 180);
            margin-left: .5%;
            }
            
            
        
@media (max-width:1700px) and (min-width:1200px){
     #mainNavFrame{
   
    height:11%;
    }
.logoImage{
    width:83px;
}

.mottoContainer{
    padding-left: .5%;

}
}

@media (max-width:1500px) and (min-width:800px){
    #coverTitle {
    top: 40%;
 }
}

@media (max-width:800px) and (min-width:300px){
    #coverTitle {
    top: 33%;
 }
}



@media (max-width:1200px) and (min-width:800px){
     #mainNavFrame{
   
    height:11%;
    }
.logoImage{
    width:83px;
}

.mottoContainer{
    padding-left: 2.5%;
}


}


@media (max-width:800px) and (min-width:650px){
     #mainNavFrame{
   
    height:11%;
    }
.logoImage{
    width:83px;
}

.mottoContainer{
    padding-left: 3.5%;
}

#coverTitle h1 {
    font-size: 22px;
}


}

@media (max-width:650px) and (min-width:550px){
     #mainNavFrame{
   
    height:11%;
    }
.logoImage{
    width:83px;
}

.mottoContainer{
    padding-left: 4.5%;
}
#coverTitle h1 {
    font-size: 15px;
}

}


@media (max-width: 550px) and (min-width: 500px) {
    #mainNavFrame {
        height: 12.2%;
    }
    
    .logoImage {
        width: 63px;
    }
    
    .mottoContainer {
        padding-left: 4.5%;
    }
    #coverTitle h1 {
    font-size: 12px;
    letter-spacing: 28.6px;
    font-weight: 100;
    }

   
}


@media (max-width: 500px) and (min-width: 450px) {
    #mainNavFrame {
        height: 12.2%;
    }
    
    .logoImage {
        width: 63px;
    }
    
    .mottoContainer {
        padding-left: 4.5%;
    }
    #coverTitle h1 {
    font-size: 12px;
    letter-spacing: 28.6px;
    font-weight: 100;
    }

   
}


@media (max-width:450px) and (min-width:400px){
     #mainNavFrame{
    height:12.2%;
    }
.logoImage{
    width:53px;
}
.mottoContainer{
    padding-left: 5.5%;
}
 #coverTitle h1 {
    font-size: 12px;
    letter-spacing: 22.6px;
    font-weight: 100;
}

}


@media (max-width:400px) and (min-width:350px){
     #mainNavFrame{
    height:12.2%;
    }
.logoImage{
    width:53px;
}
.mottoContainer{
    padding-left: 5.5%;
}
 #coverTitle h1 {
    font-size: 12px;
    letter-spacing: 22.6px;
    font-weight: 100;
}

}


/********************MOBILE******MENU************************/
  @media (max-width:1200px) and (min-width:300px) {
    .menu li a{
        width: 100%;
        color:#4E5B65;
        display:block;
        padding:  1%;
        letter-spacing:0.1px;
        font-size:17px;
        font-weight:400;
        line-height:30px;
        transition:0.3s;
        padding:2%;
        text-align: center;    
    }
       
       .hamburger,
        .toggle-menu {
        display:block;
    }
    
        .menu{
            justify-content:center;
            align-content: center;
            align-items: center;
            flex-direction:column;
            position:fixed;
            top:-100%;
            right:0;
            background:white;
            opacity:85%;
            width:100%;
            height:80%;
            padding-top:25%;
            padding-bottom:25%;
            transition: top 1.1s; /* Add a transition for smooth sliding */

        }

        .navigation input:checked ~ .menu {
            top: 0%; /* Slide down from the top (visible) when input is checked */
        }

        #linksContainer{
            width:100%;
            text-align: center;
            flex-direction: column;
            background-color: transparent;
        }
        #linksContainer a{
            padding-top: 0;
            padding-bottom: 0;
        }
        
        #buttonContainer{
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
      
        .menu button {
            width:10%;
            border-radius: 50px;
            background-color: orangered;
            border: 0px;
            border-color: none;
            font-size: 18px;
            color:white;
            padding:10px;
        }

        #langlink{
            font-size: 15px;
        }
      
  }
   /***********COVERCONTAINER*********************/
  

